if type == "peer"
  - var test = {'10':"Low",'11':"Med",'12':"Hi",'13':"N/A"}
else 
  - var test = {'0':'0','1':'1','2':'2','3':'3','4':'4',}

mixin topicQuestion(question)
  .questionObject
    .selectMultipleWrapper
      select(multiple, size=4)
        for i in Object.keys(test)
          if i == question.value
            option(value=i selected) #{test[i]}
          else
            option(value=i) #{test[i]}
    span.questionDescription #{question.description}
    .commentWrapper
      table
        tr
          td(style="width:100px") Comment
          if question.comment
            td
              textarea #{question.commentValue}
    if question.attachfile == "1"
      .uploadWrapper
        table
          tr
            td(style="vertical-align: top;width:100px;") Attachment:
            td
              label.downloadButton.fileinput-button
                a.fileNameUploaded
              input.fileItemId(type="hidden", value="")
            
for question in questionList
  +topicQuestion(question)            
